<div class="card-container">
  <div class="card">
    <img src="assets/images/hexify-ai.logo.png" alt="Hexify Logo" />
    <!-- <img src="travis-goldie.png" alt="Founder: Travis Goldie" /> -->
    <h2>Travis Goldie</h2>
    <p>Co-Founder</p>
  </div>

  <div class="card">
    <img src="assets/images/hexify-ai.logo.png" alt="Hexify Logo" />
    <!-- <img src="sergey-razin.png" alt="Fonder: Sergey Razin" /> -->
    <h2>Sergey Razin</h2>
    <p>Co-Founder</p>
  </div>

  <div class="card">
    <img src="assets/images/hexify-ai.logo.png" alt="Hexify Logo" />
    <!-- <img src="scott-thoman.png" alt="Fonder: Scott Thoman" /> -->
    <h2>Scott Thoman</h2>
    <p>Co-Founder</p>
  </div>
</div>
